<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ks.domain.mapper.PersonnelMapper">

    <resultMap id="BaseResultMap" type="com.ks.domain.entity.Personnel">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="starttime" jdbcType="TIMESTAMP" property="starttime"/>
        <result column="endtime" jdbcType="TIMESTAMP" property="endtime"/>
    </resultMap>


    <sql id="Base_Column_List">
  id, name, starttime, endtime
</sql>


    <delete id="delete" parameterType="java.lang.Integer">
  delete from personnel
  where id = #{id,jdbcType=INTEGER}
</delete>


    <insert id="insert" parameterType="com.ks.domain.entity.Personnel">
  insert into personnel (id, name, starttime,
    endtime)
  values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{starttime,jdbcType=TIMESTAMP},
    #{endtime,jdbcType=TIMESTAMP})
</insert>


    <insert id="insertDynamic" parameterType="com.ks.domain.entity.Personnel">
        insert into personnel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="starttime != null">
                starttime,
            </if>
            <if test="endtime != null">
                endtime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="starttime != null">
                #{starttime,jdbcType=TIMESTAMP},
            </if>
            <if test="endtime != null">
                #{endtime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>


    <update id="updateDynamic" parameterType="com.ks.domain.entity.Personnel">
        update personnel
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="starttime != null">
                starttime = #{starttime,jdbcType=TIMESTAMP},
            </if>
            <if test="endtime != null">
                endtime = #{endtime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>


    <update id="update" parameterType="com.ks.domain.entity.Personnel">
  update personnel
  set name = #{name,jdbcType=VARCHAR},
    starttime = #{starttime,jdbcType=TIMESTAMP},
    endtime = #{endtime,jdbcType=TIMESTAMP}
  where id = #{id,jdbcType=INTEGER}
</update>


    <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from personnel
        where id = #{id,jdbcType=INTEGER}
    </select>


    <sql id="findPageWithWhere">
        <where>1=1
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="name != null and name != ''">
                and name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="starttime != null">
                and starttime = #{starttime,jdbcType=TIMESTAMP}
            </if>
            <if test="endtime != null">
                and endtime = #{endtime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </sql>


    <select id="findPageWithResult" parameterType="com.ks.domain.entity.Personnel" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from personnel
        <include refid="findPageWithWhere"/>
        limit #{start},#{pageSize}
    </select>


    <select id="findPageWithCount" parameterType="com.ks.domain.entity.Personnel" resultType="Integer">
        select count(1)
        from personnel
        <include refid="findPageWithWhere"/>
    </select>

</mapper>